/Unity/tennis/Library
/Unity/tennis/UserSettings
/Unity/tennis/Assembly-CSharp.csproj
/Unity/tennis/tennis.sln
/Unity/tennis/.vscode
/Unity/tennis/Temp
/Unity/tennis/Logs
/algorithms/Algro_test/testImages
